<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Maintenace Mode</title>
  </head>
  <body>
    <h1>Maintenance On!</h1>
    <p>Please back later on...</p>

    {{> footer}}
  </body>
</html>